@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700&display=swap');
html, body{
	width: 100%;
	height: 100%;
	min-width: 320px;
	margin: 0;
	font-size: 16px;
	background-color: #00675b78;
	color: #00675B;
	font-family: Open Sans, Montserrat, sans-serif;
    background-image: url("pattern.png");
}
h1{
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	line-height: 1;
	margin: 0 0 10px 0;
}
h1.margintop, h2.margintop{
	margin-top: 20px;
}
h1.marginbottom, h2.marginbottom{
	margin-bottom: 20px;
}
h2{
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	margin: 0 0 10px 0;
}
a{
	color: inherit;
}
p.center{
	text-align: center;
}
input, select, select option, textarea, button{
	font-family: Open Sans, Montserrat, sans-serif;
	outline: none;
}
select option{
	background-color: #FFF;
	color: #222;
}
input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="tel"], input[type="url"], input[type="file"], input[type="number"], input[type="time"], select{
	width: 100%;
    padding: 4px 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: -2px;
	color: #222;
    border-radius: 3px 3px 0 0;
    font-size: 15px;
    border: 2px solid#009688;
    border-width: 0 0 2px 0;
    background-color: #ffffff47;
}
input[type="text"][disabled], input[type="password"][disabled], input[type="email"][disabled], input[type="date"][disabled], input[type="tel"][disabled], input[type="url"][disabled], input[type="file"][disabled], input[type="number"][disabled], input[type="time"][disabled]{
	background-image: url("lock.png");
    background-size: auto 19px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
	font-weight: bold;
	color: #222;
	background-color: #ffffffb3;
    padding-left: 30px;
}
input::placeholder{
	color: #ffffffb8;
}
label{
	display: inline;
	font-size: 15px;
	border-radius: 0 0 3px 3px;
	color: #fff;
	text-align: center;
	background: #00a897;
	padding: 1px 7px;
	cursor: pointer;
}
label.checkbox, label.radio{
	border-radius: 0 3px 3px 0;
}
label.hidden{
	display: none;
}
button:not(.custom), input[type='submit']{
	display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #00675B;
    text-align: center;
    padding: 5px 20px;
	text-transform: uppercase;
    margin-top: 10px;
    font-size: 15px;
    color: #FFF;
    background-color: #009688;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: inset 0 -2px #00675B, inset 0 4px #00a897;
    transition: all 0.1s linear;
    text-decoration: none;
    cursor: pointer;
}
button.inline, input[type='submit'].inline{
	display: inline-block;
	width: auto;
}
button:not(.custom):hover, input[type='submit']:hover{
	background-color: #00a897;
	border-color: #009688;
    box-shadow: inset 0 -2px#009688, inset 0 4px #00a897;
}
button:not(.custom):active, input[type='submit']:active{
	background-color: #00675B;
	border-color: #004d44;
    box-shadow: inset 0 -2px #004d44, inset 0 4px #007e6f;
}
button:not(.custom).empty, input[type='submit'].empty{
	color: #FFF;
	background-color: #005B9F;
	border-color: #00518f;
    box-shadow: inset 0 -2px #00518f, inset 0 4px #0288D1;
}
button:not(.custom).empty:hover, input[type='submit'].empty:hover{
	background-color: #0288D1;
	border-color: #0288D1;
    box-shadow: inset 0 -2px #0288D1, inset 0 4px #5eb8ff;
}
button:not(.custom).empty:active, input[type='submit'].empty:active{
	background-color: #004970;
	border-color: #003270;
	box-shadow: inset 0 -2px #003270, inset 0 4px #005B9F;
}
div.checkbox, div.radio{
	position: relative;
	float: left;
	width: 19px;
	height: 18px;
	border: 2px solid#00a897;
	border-radius: 3px 0 0 3px;
    background-color: #ffffff47;
	transition: background-color 0.1s linear;
}
div.radio{
	border-radius: 12px 0 0 12px;
	background-color: #00a897;
	margin-right: -1px;
}
div.checkbox.checked{
	background-color: #009688;
}
div.checkbox.checked:before, div.checkbox.checked:after{
	position: absolute;
	top: 0;
	left: 7px;
	content: '';
	background-color: #FFF;
	width: 5px;
	height: 18px;
	border-radius: 3px;
}
div.checkbox.checked:after{
	transform: rotate(45deg);
}
div.checkbox.checked:before{
	transform: rotate(-45deg);
}
div.radio:before{
    position: absolute;
    top: 0;
    left: 0;
	content: '';
    background-color: #FFF;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
div.radio.checked:after{
    position: absolute;
    top: 4px;
    left: 4px;
	content: '';
    background-color: #00a897;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
div.privacybox{
	max-height: 100px;
	background-color: #FFF;
	color: #222;
	border-radius: 3px;
	padding: 10px;
	font-size: 10px;
	margin-bottom: 10px;
	overflow-y: auto;
}
div.main{
	text-align: center;
}
div.title{
	font-weight: bold;
}
div.italic{
	font-style: italic;
}
span.important{
	font-weight: bold;
}
a.fullbuttoncontainer{
	display: block;
	width: 100%;
	max-width: 700px;
	margin: auto;
	margin-bottom: 20px;
}
section#table table, section#table th, section#table td{
	border: 1px solid#009688;
	border-collapse: collapse;
}
section#table th, section#table td{
	padding: 5px 10px;
}
section#table table{
	width: 100%;
	margin-top: 20px;
}
section#table th{
	background-color: #ffffff7c;
	color: #222;
}
section#table table caption{
	margin-bottom: 10px;
	text-align: left;
	font-size: 20px;
}
section#table table tr:nth-child(even){
	background-color: #ffffff47;
}
div.infobox{
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	background-color: #ffffff47;
    color: #222;
    border-radius: 3px;
    padding: 5px 10px;
	margin: 3px 0;
}
a div.infobox:hover{
	background-color: #ffffff78;
}
div.infobox button.remove{
	float: right;
    margin-left: 10px;
    margin-right: -5px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    padding: 0 0 0 1px;
    background-color: #7b1ea1;
    border: 1px solid #fff;
    font-size: 14px;
    color: #FFF;
    line-height: 21px;
	cursor: pointer;
}
div.infobox footer{
	text-align: right;
	font-size: 12px;
}
table#admin caption, table#customer caption{
	display: none;
}
table#customer tr td:last-child, table#organizernotapproved tr td:last-child, table#organizerapproved tr td:last-child{
	padding: 0px 5px 10px 5px;
}
div.g-recaptcha, #rc-imageselect{
	-moz-transform: scale(0.77);
	-ms-transform: scale(0.77);
	-o-transform: scale(0.77);
	-moz-transform-origin: 0;
	-ms-transform-origin: 0;
	-o-transform-origin: 0;
	-webkit-transform: scale(0.77);
	transform: scale(0.77);
	-webkit-transform-origin: 0 0;
	transform-origin: 0;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.77,M12=0,M21=0,M22=0.77,SizingMethod='auto expand');
}
/************************ HEADER ************************/
header#navbar{
	display: grid;
	position: relative;
	grid-template-columns: calc(50% - 80px) 160px calc(50% - 80px);
	padding: 5px;
	background-color: #005B9F;
	text-align: center;
    z-index: 1;
}
header#navbar.cart{
	grid-template-columns: calc(50% - 80px) 160px calc(50% - 125px) 45px;
}
header#navbar button.menu{
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	padding: 0;
	background-color: transparent;
	line-height: 0.6;
	text-align: center;
	cursor: pointer;
	z-index: 3;
}
header#navbar button.menu div{
	display: inline-block;
	position: relative;
	height: 3px;
	width: 21px;
	border-radius: 2px;
	background-color: #FFF;
	vertical-align: middle;
	transition: height 0.1s linear;
}
header#navbar button.menu div:before, header#navbar button.menu div:after{
	display: inherit;
	position: absolute;
	left: 0;
	width: 100%;
	content: "";
	height: 3px;
	border-radius: inherit;
	background-color: inherit;
	transition: top 0.1s linear, transform 0.1s linear;
}
header#navbar button.menu div:before{
	top: -7px;
}
header#navbar button.menu:hover div:before{
	top: -9px;
}
header#navbar button.menu div:after{
	top: 7px;
}
header#navbar button.menu:hover div:after{
	top: 9px;
}
header#navbar a#logo{
	margin: 0 auto;
}
header#navbar a#logo img{
	display: block;
	height: 50px;
	margin: 8px 0;
}
@media only screen and (min-width: 350px){
	header#navbar a#logo img{
		height: 40px;
		margin: 2;
	}
}
header#navbar div.userinfo{
	display: none;
	color: #FFF;
	line-height: 40px;
	text-align: right;
}
header#navbar button.account{
	display: block;
	float: right;
	width: 40px;
	height: 40px;
	background-image: url("account_icon.png");
	background-size: 30px auto;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 5px;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	z-index: 3;
}
header#navbar button div.badge{
	background-color: #00675B;
    margin-top: 26px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid;
}
@media only screen and (min-width: 768px){ /* DESKTOP */
	header#navbar div.userinfo{
		display: block;
	}
}
/************************ MENU ************************/
div#menucontainer{
	border-radius: 50%;
	width: 0px;
	height: 0px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #222;
	overflow: hidden;
	transition:
		width 700ms cubic-bezier(0, 0.2, 0.99, 1),
		height 700ms cubic-bezier(0, 0.2, 0.99, 1),
		top 700ms cubic-bezier(0, 0.2, 0.99, 1),
		left 700ms cubic-bezier(0, 0.2, 0.99, 1);
	z-index: 10000;
}
div#menucontainer.visible{
	top: calc(var(--data-radius) * -0.5);
	left: calc(var(--data-radius) * -0.5);
	width: calc(var(--data-radius) * 2);
	height: calc(var(--data-radius) * 2);
}
div#menucontainer nav#menu{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	color: #FFF;
	width: 100vw;
	height: 100vh;
	overflow: auto;
}
div#menucontainer nav#menu header{
	display: grid;
	grid-template-columns: 50px auto 50px;
	width: 100%;
	height: 60px;
	padding: 5px;
	font-size: 15px;
	line-height: 50px;
    font-size: 30px;
	box-sizing: border-box;
	text-align: center;
    z-index: 1;
}
div#menucontainer nav#menu header button.close{
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	padding: 0;
	background-color: transparent;
	line-height: 0.6;
	text-align: center;
	cursor: pointer;
	z-index: 3;
}
div#menucontainer nav#menu header button.close div{
	display: inline-block;
	position: relative;
	height: 0;
	width: 21px;
	border-radius: 2px;
	background-color: #FFF;
	vertical-align: middle;
	transition: height 0.1s linear;
}
div#menucontainer nav#menu header button.close div:before, div#menucontainer nav#menu header button.close div:after{
	display: inherit;
	position: absolute;
	left: 0;
	width: 100%;
	content: "";
	height: 3px;
	border-radius: inherit;
	background-color: inherit;
	transition: top 0.1s linear, transform 0.1s linear;
}
div#menucontainer nav#menu header button.close div:before{
	top: -2px;
	transform: rotate(45deg);
}
div#menucontainer nav#menu header button.close div:after{
	top: -2px;
	transform: rotate(-45deg);
}
/************************ CONTENT ************************/
main{
	padding: 30px 20px 60px 20px;
}
main div.loading{
	width: 70px;
	height: 70px;
	margin: 20px auto;
	background-image: url("loading.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
section{
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	background-color: #c5c5c5dc;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 2px 10px #000;
}
section.min{
	max-width: 300px;
}
section.margintop{
	margin-top: 20px;
}
iframe[name='hidden-iframe']{
	display: none;
}
div.imagecontainer img{
	width: 100%;
	border-radius: 5px;
}
div.cards{
	display: block;
    width: 108%;
    max-width: 108%;
    margin: 0 -4%;
}
@media only screen and (min-width: 768px){ /* DESKTOP */
	div.cards{
		width: 100%;
		margin: 0;
	}
}
article.card{
	display: block;
    width: calc(50% - 1px);
    padding: 0 1.25% 10px 1.25%;
    box-sizing: border-box;
}
article.card img{
	display: block;
	width: 100%;
	border-radius: 10px 10px 0 0;
}
article.card div.info{
	width: 100%;
	border-radius: 0 0 10px 10px;
	background-color: #FFF;
	color: #222;
	padding: 10px;
	box-sizing: border-box;
}
article.card div.info header h1{
	font-size: 13px;
	text-align: left;
	margin: 0;
}
article.card div.info header h2{
	font-size: 11px;
	text-align: left;
	margin: 0;
}
article.card div.info p{
	font-size: 12px;
	margin: 5px 0;
}
article.card div.info footer{
	font-size: 10px;
}
div.searchbox{
	display: grid;
	grid-template-columns: auto 40px;
	margin-bottom: 15px;
}

/************************ ALERT ************************/
div#alertcontainer{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	padding: 60px 0;
	background-color: #00000080;
	box-sizing: border-box;
}
div#alertcontainer section{
	position: relative;
	top: -100vh;
	width: 400px;
    max-width: 90%;
    max-height: 100%;
    margin: 0 auto;
	color: #333;
    background-color: #FFF;
    border-radius: 3px;
    padding: 20px 30px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow: auto;
	transition: top 0.3s ease-out;
}
div#alertcontainer section.visible{
	top: 0;
}
div#alertcontainer section h1{
	font-size: 25px;
    margin-bottom: 15px;
	font-weight: normal;
    line-height: 1.2;
}
div#alertcontainer section p{
	font-size: 17px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
div#alertcontainer section p div.loading{
	background-image: url("loading.svg");
	width: 100px;
	height: 100px;
	background-size: contain;
	margin: 5px auto;
}
div#alertcontainer section button{
	float: right;
	width: initial;
	font-weight: initial;
	margin: 10px 0 0 10px;
    padding: 0 10px;
	border: 0;
    border-radius: 5px;
    color: #009688;
	background-color: #FFF;
	font-size: 16px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
	box-shadow: inset 0 0 0 2px#009688;
    cursor: pointer;
    transition: all 0.1s linear;
}
div#alertcontainer section button[name='ok']{
	color: #FFF;
	background-color: #009688;
}
div#alertcontainer section button[name='ok']:hover{
	background-color: #00a897;
	box-shadow: inset 0 0 0 2px #00a897;
}
div#alertcontainer section button[name='cancel']:hover{
	color: #00a897;
	box-shadow: inset 0 0 0 2px #00a897;
}
div#alertcontainer section button[name='ok']:active{
	background-color: #00675B;
	box-shadow: inset 0 0 0 2px #00675B;
}
div#alertcontainer section button[name='cancel']:active{
	color: #00675B;
	box-shadow: inset 0 0 0 2px #00675B;
}
div#alertcontainer section input[type='text']{
	background-color: rgba(0,0,0,0.1);
	color: #222;
	margin-bottom: 0;
}

/************************ FOOTER ************************/
footer#rights{
	display: grid;
	grid-template-columns: 45px auto 35px 35px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	padding: 5px;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #005B9F;
	box-sizing: border-box;
}
@media only screen and (min-width: 768px){ /* DESKTOP */
	footer#rights{
		text-align: center;
		grid-template-columns: 70px auto 35px 35px;
	}
}
footer#rights img{
	display: block;
}
footer#rights img.logo{
	height: 40px;
}
footer#rights p{
	margin: 0;
	line-height: 20px;
}
footer#rights div.spacer{
	height: 5px;
}
footer#rights img.social{
	margin: 5px 0 5px 5px;
	height: 30px;
}

